<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="shortcut icon" href="./assets/img/favicon_trans.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/accounts.css">
    <link rel="stylesheet" href="./assets/css/account.css">
    <title>ARS | Transactions</title>
</head>

<body id="body-accounts">
    <div id="app">
        <div class='dashboard'>
            <div class="dashboard-nav">
                <header>
                    <a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a>
                    <a href="./index.html" class="brand-logo"><i class="fas fa-rocket"></i><span>ARS
                            Homebanking</span></a>
                </header>
                <nav class="dashboard-nav-list">
                    <a href="./index.html" class="dashboard-nav-item"><i class="fas fa-home"></i>Index</a>
                    <a href="./accounts.html" class="dashboard-nav-item"><i
                            class="fas fa-file-invoice-dollar"></i>Accounts</a>
                    <a href="./cards.html" class="dashboard-nav-item"><i class="fas fa-credit-card"></i>Cards</a>
                    <a href="./transfer.html" class="dashboard-nav-item"><i
                            class="fas fa-comments-alt-dollar"></i>Transfer</a>
                    <a href="./settings.html" class="dashboard-nav-item"><i class="fas fa-cogs"></i>Settings</a>
                    <a href="./profile.html" class="dashboard-nav-item"><i class="fas fa-user"></i>Profile</a>
                    <div class="nav-item-divider"></div>
                    <a v-on:click="logout()" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </nav>
            </div>
            <div class='dashboard-app'>
                <header class='dashboard-toolbar'>
                    <a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a>
                </header>
                <div class='dashboard-content'>
                    <div class="container d-flex align-items-center">
                        <h3 class="m-0 p-0">Transactions</h3>
                    </div>
                    <div class="container">
                        <table class="mt-4">
                            <thead>
                                <tr>
                                    <th>Transaction nr</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Current balance</th>
                                    <th>Type</th>
                                    <th>Date-Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="item in transaction">
                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.description}}</td>
                                        <td v-if="item.type == 'CREDIT'">{{transformNumbers(item.amount)}}</td>
                                        <td v-else>{{'-' + transformNumbers(item.amount)}}</td>
                                        <td>{{transformNumbers(item.balance)}}</td>
                                        <td :class="item.type == 'CREDIT' ? 'verde' : 'rojo'">{{item.type}}</td>
                                        <td>{{item.date}}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/account.js"></script>
    <script>
        const mobileScreen = window.matchMedia("(max-width: 990px )");
        $(document).ready(function () {
            $(".dashboard-nav-dropdown-toggle").click(function () {
                $(this).closest(".dashboard-nav-dropdown")
                    .toggleClass("show")
                    .find(".dashboard-nav-dropdown")
                    .removeClass("show");
                $(this).parent()
                    .siblings()
                    .removeClass("show");
            });
            $(".menu-toggle").click(function () {
                if (mobileScreen.matches) {
                    $(".dashboard-nav").toggleClass("mobile-show");
                } else {
                    $(".dashboard").toggleClass("dashboard-compact");
                }
            });
        });
    </script>
</body>

</html>