@import url(./variables.css);

h5 {
    color: var(--cuarto-color);
}

.cntr {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.btn-radio {
    cursor: pointer;
    display: inline-block;
    float: left;
    -webkit-user-select: none;
    user-select: none;
}

.btn-radio:not(:first-child) {
    margin-left: 20px;
}

@media screen and (max-width: 480px) {
    .btn-radio {
        display: block;
        float: none;
    }

    .btn-radio:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }
}

.btn-radio svg {
    fill: none;
    vertical-align: middle;
}

.btn-radio svg circle {
    stroke-width: 2;
    stroke: var(--tercer-color);
}

.btn-radio svg path {
    stroke: var(--primary-color);
}

.btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
}

.btn-radio svg path.outer {
    stroke-width: 2.5;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
}

.btn-radio input {
    display: none;
}

.btn-radio input:checked+svg path {
    transition: all .4s ease;
}

.btn-radio input:checked+svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: .3s;
}

.btn-radio input:checked+svg path.outer {
    stroke-dashoffset: 0;
}

.btn-radio span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: 500;
    color: var(--cuarto-color);
}

.destiny, .amount, .description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 25em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, var(--primary-color);
    color: var(--cuarto-color);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    select {
        width: 18em !important;
    }
}

@media screen and (max-width: 425px) {
    select {
        width: 24em;
    }
}

@media screen and (max-width: 375px) {
    select {
        width: 21em;
    }
}

select option {
    color: inherit;
    background-color: var(--primary-color);
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

.cssbuttons-io-button {
    background: var(--primary-color);
    color: var(--cuarto-color);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--primary-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin-bottom: 20px;
}

.cssbuttons-io-button .icon {
    background: var(--cuarto-color);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--primary-color);
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--primary-color);
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: var(--tercer-color);
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: var(--cuarto-color);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: var(--primary-color);
}

.input::placeholder {
    color: var(--tercer-color);
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.form-tc {
    background: var(--secundary-color);
    border-radius: 25px;
    border: 1px solid var(--primary-color);
    opacity: .95;
}

.button-third {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: var(--cuarto-color);
    background-size: 400%;
    color: #000;
    border: none;
  }
  
  .button-third:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button-third::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }